body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;  
    color: #333333;
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #0055aa;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 20px;
}
main {
    padding: 20px;
}

.subtitulo {
    font-style: italic;
    font-size: 18px;
}

section{
    border-radius: 10px;
    box-shadow: 0px 0px 5px #cccccc;
    background-color: white;
    margin: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    background-color: #222222;
    text-align: center;
    color: #ffffff;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
      }
th, td {
    border: 2px black solid;
    padding: 15px;
    text-align: center;
}
th {
    color: white;
    background-color: #0077cc;
}

