ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lista1 {
    background-color: #8B876B;
    display: inline-flex;
    justify-content: flex-start;
}
.lista1  li a {
    text-decoration: none;
    color: white;
    padding: 20px 17px;
    display: block;
}
.lista2 {
    background-color: green;
    margin: 0;
    padding: 0;
    width: 150px;
    
}
.lista2 a {
    text-decoration: none;
    color: white;
    padding: 20px 17px;
    display: block;
}
.lista2 a:hover {
    background-color: red;
}
